<%= render partial: "shared/admin_header_show", locals: { :model => @skill_tag_type} %>
<ul class="list-group">
  <li class="list-group-item">
    <label>Title</label>
    <div><%= @skill_tag_type.tagType %></div>
  </li>
</ul>