<div class="alert alert-success" style="margin-top: 20px"><%= notice %></div>

<p>
  <strong>Type:</strong>
  <%= @skill_tag_type.tagType %>
</p>

<%= link_to 'Edit', edit_skill_tag_type_path(@skill_tag_type) %> |
<%= link_to 'Back', skill_tag_types_path %>