<%= render partial: "shared/admin_header_show", locals: { :model => @skill_tag} %>
<ul class="list-group">
  <li class="list-group-item">
    <label>Tag</label>
    <div><%= @skill_tag.tag %></div>
  </li>
  <li class="list-group-item">
    <label>Tag Type</label>
    <div><%= @skill_tag.skill_tag_type.tagType %></div>
  </li>
</ul>