<p>
  <strong>Tag:</strong>
  <%= @skill_tag.tag %>
</p>
<p>
  <strong>Tag Type:</strong>
  <%= @skill_tag.skill_tag_type.tagType %>
</p>
<%= render partial: "shared/admin_bottom_links", locals: {:links => [{:title => 'Edit', :path =>  edit_admin_skill_tag_path(@skill_tag)},
                                                                     {:title => 'Back', :path => admin_skill_tags_path}] } %>