<%= render partial: "shared/admin_header_show", locals: { :model => @portfolio_platform} %>
<ul class="list-group">
  <li class="list-group-item">
    <label>Title</label>
    <div><%= @portfolio_platform.title %></div>
  </li>

  <li class="list-group-item">
    <label>Sort Order</label>
    <div><%= @portfolio_platform.sortOrder %></div>
  </li>
</ul>