<%= render partial: "shared/admin_header_show", locals: { :model => @content} %>
<ul class="list-group">
  <li class="list-group-item">
    <label>Title</label>
    <div><%= @content.title %></div>
  </li>
  <li class="list-group-item">
    <label>Content</label>
    <div><%= markdown(@content.content) %></div>
  </li>
</ul>
