<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= markdown(@content.content) %>
</p>
<%= render partial: "shared/admin_bottom_links", locals: {:links => [{:title => 'Edit', :path => edit_admin_content_path(@content)},
                                                                     {:title => 'Back', :path => admin_contents_path}] } %>
