<%= render partial: "shared/admin_header_show", locals: { :edit_link_path => edit_polymorphic_path([@parent, @user]) } %>
<ul class="list-group">
  <li class="list-group-item">
    <label>E-mail</label>
    <div><%= @user.email %></div>
  </li>
  <li class="list-group-item">
    <label>Approved</label>
    <div><%= @user.approved %></div>
  </li>
</ul>

