<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-8 tk-adelle" style="font-weight: bold; font-size: 28px; padding-bottom: 10px"><%= title %></div>
  <div class="col-md-4"><%= render partial: "shared/admin_bottom_links", locals: {:links => links } %></div>
</div>