<!-- Alerts and Notices -->
<% if notice.nil? or alert.nil? %>

    <% unless notice.nil? %>
        <div class="alert alert-success">
          <div class="container">
            <a href="#" class="alert-link"><%= notice %></a>
          </div>
        </div>
    <% end %>
    <% unless alert.nil? %>
        <div class="alert alert-success">
          <div class="container">
            <a href="#" class="alert-link"><%= alert %></a>
          </div>
        </div>
    <% end %>
<% end %>