<div id="footer">
  <div class="container">
    <div style="float: right;">
      <a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a>
      <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="#"><i class="fa fa-facebook-square fa-lg"></i></a>
      <a href="#"><i class="fa fa-github fa-lg"></i></a>
      <a href="#"><i class="fa fa-stack-overflow fa-lg"></i></a>
    </div>
    <p class="tk-adelle" style="color: #cccccc">&copy; Paul Bonneville 2014</p>
  </div>
</div>