<div class="row">
  <div class="col-md-12 tk-myriad-pro">
    <div class="page-header tk-adelle" style="border-bottom: none;">
      <h1><strong><%= title %></strong><% if defined? subtitle %><span class="tk-myriad-pro cleanBreakBlock" style="color: #555555; font-size: 28px"><em>&nbsp;&mdash; <%= subtitle %></em></span><% end %></h1>
    </div>
  </div>
</div>