<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="tk-myriad-pro" style="text-shadow: black 0.1em 0.1em 0.1em;"><strong>I am an Interactive Developer.</strong></h1>
    <p class="tk-myriad-pro" style="text-shadow: black 0.1em 0.1em 0.1em;">I build mobile apps, desktop applications and websites in sunny Lafayette, Colorado.<br/><em>That's right next door to Boulder, just in case you were wondering.</em></p>
    <p><a class="btn btn-primary btn-lg" role="button" href="resume.html">View My Resume <span class="glyphicon glyphicon-chevron-right"></span></a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 class="tk-font-brand"><strong>Heading</strong></h2>
      <p class="tk-myriad-pro">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 class="tk-font-brand"><strong>Heading</strong></h2>
      <p class="tk-myriad-pro">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 class="tk-font-brand"><strong>Heading</strong></h2>
      <p class="tk-myriad-pro">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div> <!-- /container -->
