<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A new user, <%= @user.email %>, is awaiting approval</h1>
<p>
  Login to the site to approve them: <%= @url %>.
</p>
</body>
</html>