<%= render partial: "shared/admin_header", locals: {:title => 'New Entry', :links => [{:title => '<span class="glyphicon glyphicon-th-list"></span>', :path => admin_portfolio_entries_path}] } %>
<%= render 'form' %>
