<div style="background: url(/img/jumbotronbackground.jpg) no-repeat top; width: 100%; height: 50px;"></div>

<div class="container" style="margin-bottom: 40px;">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12 tk-myriad-pro">
      <%= render partial: "shared/header", locals: {:title => 'Apps', :subtitle => 'My publicly available work'} %>
      <p>[COPY NEEDED]</p>
    </div>
  </div>

</div> <!-- /container -->